<style type=“text/css”>
h1{
  border-style: solid;
  border-color: #A5AAC2;
  border-width: 1px;
  text-align:  center;
 padding: 10px;
  background-color: #A5AAC2;
}
h2{background-color: #A5AAC2;}
</style>
